@charset "utf-8";
/* CSS Document */

h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 60px;
	font-weight: 700;
	align-content: center;
	color: #FFC425;
}
h2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 40px;
	font-weight: 550;
	color:#004B8D
}

li {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 25px;
	font-weight: 400;
	color: #FFC425
}